/* ==========================================================
   PERSONA 4 HUB
   Utilities
   ========================================================== */

/* ==========================
   Colors
   ========================== */

.yellow-text {
  color: var(--primary);
}

/* ==========================
   Titles
   ========================== */

.p5-title {
  margin-bottom: 1rem;

  color: var(--primary);

  font-family: Impact, sans-serif;
  font-size: 3rem;

  text-transform: uppercase;
  letter-spacing: -.02em;

  text-shadow: 4px 4px 0 var(--background);

  transform: skewX(-10deg);
}

.p5-subtitle {
  margin-top: -.5rem;

  color: var(--primary);

  font-size: 1.2rem;
  font-weight: 700;

  text-transform: uppercase;
}